
/* Write your CSS here */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Roboto';
    min-height: 100vh;
  }
  /* styles.css */

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border .75s linear infinite;
          border-top-color: #ffffff;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

  
  .error-message {
    text-align: center;
    color: #00e7ff;
    font-size: 28px;
    font-weight: bold;
    margin: 4px;
  }
  
  @media (min-width: 576px) {
    .error-message {
      font-size: 48px;
    }
  }
  